<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rent</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script defer src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
  <script defer src="/js/application.js"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg ">
      <ul class="navbar-nav">
        {{!-- <img class="layoutImg" src="https://webstockreview.net/images/clipart-free-sport-15.png"> --}}
        <div><a class="navbar-brand menu-link titlelogo" href="/">Rent</a></div>
      </ul>
      <div class="line">
        {{#if username}}
        <div class="menu-link color account">Привет, {{username}}!</div>
        <a id="logout" class="menu-link color" href="/auth/logout">Выйти</a>
        {{else}}
        <a id="login" class="menu-link color" href="/auth/login">Войти</a>
        <a id="signup" class="menu-link color" href="/auth/signup">Регистрация</a>
        {{/if}}
      </div>

    </nav>
    <ul>
      <a href="/category">Все категории</a>
      <a href="/category/summer">Летние виды спорты</a>
      <a href="/category/winter">Зимние виды спорты</a>
      <a href="/category/water">Водные виды спорта</a>
    </ul>
  </header>
  {{{body}}}

</body>
<footer>
  {{#if admin}}
  <div class="login">
    <h1 id='adminName'>{{admin.login}}</h1>
    <a id="mainAdmin" href="/admin/account">Main</a>
    <a id="logout" href="/admin/logout">Logout</a>
  </div>
  {{else}}
  <a href="/admin/login">Админ</a>
  {{/if}}
</footer>

</html>
